<!-- <footer class="site-footer h-card">
  <div class="wrapper">
  </div>
</footer> -->
<script>
  // document.getElementById("color-toggle").onclick = function () {
  //   cookie = document.cookie;
  //   if (cookie.indexOf('color-scheme=dark') > -1) {
  //     document.body.style.colorScheme = "light";
  //     document.cookie = "color-scheme=light; path=/";
  //     console.log(document.cookie);
  //   }
  //   else if (cookie.indexOf('color-scheme=light') > -1) {
  //     document.body.style.colorScheme = "dark";
  //     document.cookie = "color-scheme=dark; path=/";
  //     console.log(document.cookie);
  //   }

  // };
</script>