<!-- begin head-custom.html -->
<link rel="shortcut icon" type="image/x-icon" href="/textbook-notes/img/favicon.png">
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
  });
</script>
<style>
  h1 {
    display: none;
  }

  strong {
    background-color: yellow;
    
  }
</style>
<!-- end head-custom.html -->