<!-- begin head-custom.html -->
<link rel="shortcut icon" type="image/x-icon" href="/textbook-notes/img/favicon.png">
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
  MathJax = {
    tex: {
      inlineMath: [ ['$','$'], ['\\(','\\)'] ]
    }
  };
</script>
<style>
  .markdown-body h1 {
    border: none;
  }

  strong {
    background-color: yellow;
    
  }

  .footnotes {
    border-top: 1px #ccc solid;
    margin-top: 1rem;
  }
</style>
<!-- end head-custom.html -->