.red {
    color: red;
}

.gray {
    color: gray;
}

.grey {
    color: gray;
}

.small {
    font-size: small;
}

.teal-box {
    border: solid 3px #01aaaf;
    border-radius: 10px;
    padding: 0.05rem 0.2rem;
}

blockquote {
    letter-spacing: inherit;
    font-size: inherit;
    font-style: inherit;
    color: #424242;
    background-color: #fafafa;
}