ul {
    margin-left: 50px;
}

.red {
    color: red;
}

.gray {
    color: gray;
}

.grey {
    color: gray;
}

.small {
    font-size: small;
}

.ap-problems {
    /*display: inline-block;*/
    padding-left: 0.5rem;
    margin-left: 0.25rem;
    border-left: 1px solid grey;
    color: grey;
}

.teal-box {
    border: solid 3px #01aaaf;
    border-radius: 10px;
    padding: 0.05rem 0.2rem;
}

blockquote {
    letter-spacing: inherit;
    font-size: inherit;
    // font-style: inherit;
    color: #333;
    background-color: #fafafa;
    border-left-color: #999;
}

.post-list-heading {
    font-size: revert;
    border-top: 1px solid grey;
}

.post-list h3 .post-link {
    font-size: revert;
}

h1 code {
    font-size: unset;
    border: unset;
    background-color: unset;
}

.footnotes {
    border-top: 1px solid #555;
}

.lesson-dates {
    border-bottom: 2px solid #555;
    padding-bottom: 1rem;
    margin-top: -0.5rem;
}

hr {
    border: 1px solid #555;
    margin-bottom: 1rem;
}

.bell-schedules-table td:nth-child(2n+1),
.bell-schedules-table th:nth-child(2n+1) {
    border-right-width: 5px;
}

.next-quiz::before {
    content: "!";
    font-weight: bold;
    color: red;
    padding-right: 0.25rem;
}

blockquote.definition {
    border: none;
    background-color: #eeeed0;
    font-style: normal;
    padding: 1rem;
}

blockquote.definition h3,
blockquote.definition h4,
blockquote.definition h5 {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

h2#assignment,
h2#additional-resources,
h2#chapter-objectives,
h2#objectives,
h2#extra-practice {
    font-size: 20px;
    font-weight: normal;
}

.v {
    color: hsl(330, 50%, 35%);
}

.f47 {
    text-align: center;
}

.f47::before {
    content: "🇺🇦";
}

.site-title a,
.site-title a:visited {
    color: #424242;
}

.info-block {
    background-color: #3fcfff;
    border-radius: 0.25rem;
    border: 1px solid #3fcfff;
    padding: 0.5rem 1rem;
}

.figure {
    border: none;
    background: none;
    padding: 0;
    font-size: small;
    font-style: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.figure p:nth-child(2) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

.example {
    border: none;
    background: none;
    padding: 0;
    border-bottom: 1px solid #e8e8e8;
    // padding: 0;
    // font-size: small;
    font-style: normal;
    // font-weight: bold;
    // padding-top: 1rem;
    padding-bottom: 1rem;
}

.qed {
    text-align: right;
}

.list-headless {
    margin-left: 0;
    list-style-type: none;
}

// Note list customization

.calc-notes-list-p {
    counter-reset: pSection;
    list-style: none;
}

.calc-notes-list-p>li {
    counter-increment: pSection;
}

.calc-notes-list-p>li::marker {
    content: "P." counter(pSection) " ";
}

.notes-init {
    counter-reset: chapter;
}

.notes-list {
    counter-reset: section;
    counter-increment: chapter;
    list-style: none;
}

.notes-list>li {
    counter-increment: section;
}

.notes-list>li::marker {
    content: counter(chapter) "." counter(section) " ";
}

.reset-7 {
    counter-set: section 7;
}

// Fontawesome stuff

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

// Marker for This Week link on home page

.this-week-link {
    list-style: none;
}

.this-week-link li::marker {
    font: var(--fa-font-solid);
    content: '\f133   ';
}

// Marker for This Week link on home page

.this-week-link {
    list-style: none;
}

.this-week-link li::marker {
    font: var(--fa-font-solid);
    content: '\f133   ';
}

.slides-link {
    list-style: none;
}

.slides-link li::marker {
    font: var(--fa-font-solid);
    content: '\f15b   ';
}

.apcsa-vocab {
    font-weight: bolder;
    color: #007d9f;
}