// https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
// brown color scheme with #d7ccc8 as primary

:root {
    --p-50: #efebe9;
    --p-100: #d7ccc8;   //primary
    --p-200: #bcaaa4;
    --p-300: #a1887f;
    --p-400: #8d6e63;
    --p-500: #795548;
    --p-600: #6d4c41;
    --p-700: #5d4037;
    --p-800: #4e342e;
    --p-900: #3e2723;

    --c-50: #e8edf0;
    --c-100: #c8d3d7;  //marked
    --c-200: #a5b5bc;
    --c-300: #8298a2;
    --c-400: #68838e;
    --c-500: #4e6f7b;
    --c-600: #43606b;
    --c-700: #354d56;
    --c-800: #283a42;
    --c-900: #18262c;

    --a1-50: #f1e9ea;
    --a1-100: #d7c8cb; //marked
    --a1-200: #baa4aa;
    --a1-300: #9e8088;
    --a1-400: #89656f;
    --a1-500: #754a57;
    --a1-600: #69424e;
    --a1-700: #583742;
    --a1-800: #482c38;
    --a1-900: #38202b;

    --a2-50: #fbf8ec;
    --a2-100: #f3f0e4;
    --a2-200: #e8e5d9;
    --a2-300: #d7d3c8; //marked
    --a2-400: #b2afa4;
    --a2-500: #928f84;
    --a2-600: #6a675d;
    --a2-700: #56544a;
    --a2-800: #38362c;
    --a2-900: #18160b;

    --t1-50: #d3d7c8;  //marked
    --t1-100: #939d7a;
    --t1-200: #4e5e28;
    --t1-300: #192900;
    --t1-400: #000f00;  
    --t1-500: #001100;
    --t1-600: #001100;
    --t1-700: #001100;
    --t1-800: #001100;
    --t1-900: #001100;

    --t2-50: #c8d7cc;  //marked
    --t2-100: #7c9d84;
    --t2-200: #285e3a;
    --t2-300: #002900;
    --t2-400: #001a00;
    --t2-500: #001c00;
    --t2-600: #001b00;
    --t2-700: #001a00;
    --t2-800: #001900;
    --t2-900: #001600;

}