// Placeholder to allow overriding predefined variables smoothly.
@use 'sass:color';

:root {
    --minima-brand-color:               #{$dm-brand-color};
    --minima-brand-color-light:         #{$dm-brand-color-light};
    --minima-brand-color-dimmed:        #{$dm-brand-color-dimmed};
    --minima-brand-color-dark:          #{$dm-brand-color-dark};

    --minima-site-title-color:          #{$dm-site-title-color};

    --minima-heading-color:             #{$dm-heading-color};
    --minima-text-color:                #{$dm-text-color};
    --minima-background-color:          #{$dm-background-color};
    --minima-code-background-color:     #{$dm-code-background-color};

    --minima-link-base-color:           #{$dm-link-base-color};
    --minima-link-visited-color:        #{$dm-link-visited-color};
    --minima-link-hover-color:          #{$dm-link-hover-color};

    --minima-border-color-01:           #{$dm-border-color-01};
    --minima-border-color-02:           #{$dm-border-color-02};
    --minima-border-color-03:           #{$dm-border-color-03};

    --minima-table-text-color:          #{$dm-table-text-color};
    --minima-table-zebra-color:         #{$dm-table-zebra-color};
    --minima-table-header-bg-color:     #{$dm-table-header-bg-color};
    --minima-table-header-border:       #{$dm-table-header-border};
    --minima-table-border-color:        #{$dm-table-border-color};

    --definition-background-color: #{$dm-border-color-01};
}