:root {
    --minima-brand-color:               light-dark(#{$lm-brand-color}, #{$dm-brand-color});
    --minima-brand-color-light:         light-dark(#{$lm-brand-color-light}, #{$dm-brand-color-light});
    --minima-brand-color-dimmed:        light-dark(#{$lm-brand-color-dimmed}, #{$dm-brand-color-dimmed});
    --minima-brand-color-dark:          light-dark(#{$lm-brand-color-dark}, #{$dm-brand-color-dark});

    --minima-site-title-color:          light-dark(#{$lm-site-title-color}, #{$dm-site-title-color});

    --minima-heading-color:             light-dark(#{$lm-heading-color}, #{$dm-heading-color});
    --minima-text-color:                light-dark(#{$lm-text-color}, #{$dm-text-color});
    --minima-background-color:          light-dark(#{$lm-background-color}, #{$dm-background-color});
    --minima-code-background-color:     light-dark(#{$lm-code-background-color}, #{$dm-code-background-color});

    --minima-link-base-color:           light-dark(#{$lm-link-base-color}, #{$dm-link-base-color});
    --minima-link-visited-color:        light-dark(#{$lm-link-visited-color}, #{$dm-link-visited-color});
    --minima-link-hover-color:          light-dark(#{$lm-link-hover-color}, #{$dm-link-hover-color});

    --minima-border-color-01:           light-dark(#{$lm-border-color-01}, #{$dm-border-color-01});
    --minima-border-color-02:           light-dark(#{$lm-border-color-02}, #{$dm-border-color-02});
    --minima-border-color-03:           light-dark(#{$lm-border-color-03}, #{$dm-border-color-03});

    --minima-table-text-color:          light-dark(#{$lm-table-text-color}, #{$dm-table-text-color});
    --minima-table-zebra-color:         light-dark(#{$lm-table-zebra-color}, #{$dm-table-zebra-color});
    --minima-table-header-bg-color:     light-dark(#{$lm-table-header-bg-color}, #{$dm-table-header-bg-color});
    --minima-table-header-border:       light-dark(#{$lm-table-header-border}, #{$dm-table-header-border});
    --minima-table-border-color:        light-dark(#{$lm-table-border-color}, #{$dm-table-border-color});
}

@mixin blockquote-suppress {
    background: none;
    border: none;
    padding-left: 0;
    font-style: normal;
    color: initial;
}

ul {
    margin-left: 50px;
}

.red {
    color: red;
}

.ka-familiar {
    color: #d77d0f;
}

.small {
    font-size: small;
}

.ap-problems {
    /*display: inline-block;*/
    padding-left: 0.5rem;
    margin-left: 0.25rem;
    border-left: 1px solid var(--minima-text-color);
    color: var(--minima-text-color);
    opacity: 0.6;
}

.teal-box {
    border: solid 3px #01aaaf;
    border-radius: 10px;
    padding: 0.05rem 0.2rem;
}

blockquote {
    letter-spacing: inherit;
    font-size: inherit;
    // font-style: inherit;
    color: var(--minima-text-color);
    background-color: var(--minima-background-color);
    border-left-color: var(--minima-border-color-02);
}

h1 code {
    font-size: unset;
    border: unset;
    background-color: unset;
}

.footnotes {
    border-top: 1px solid var(--minima-border-color-01);
    margin-top: 5rem;
    padding-top: 1rem;
}

hr {
    border: 1px solid var(--minima-border-color-01);
    margin-bottom: 1rem;
}

.bell-schedules-table td:nth-child(2n+1),
.bell-schedules-table th:nth-child(2n+1) {
    border-right-width: 5px;
}

blockquote.definition {
    border: none;
    background-color: var(--minima-border-color-01);
    font-style: normal;
    padding: 1rem;
}

blockquote.definition h3,
blockquote.definition h4,
blockquote.definition h5 {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-top: 0;
}

h2#assignment,
h2#additional-resources,
h2#chapter-objectives,
h2#objectives,
h2#extra-practice {
    font-size: 20px;
    font-weight: normal;
}

.site-title a,
.site-title a:visited {
    color: var(--minima-text-color);
}

.figure {
    border: none;
    background: none;
    padding: 0;
    font-size: small;
    font-style: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.figure p:nth-child(2) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.figure img,
.figure video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

.figure video {
    margin-bottom: 15px;
}

.example {
    border: none;
    background: none;
    padding: 0;
    border-bottom: 1px solid var(--minima-border-color-01);
    // padding: 0;
    // font-size: small;
    font-style: normal;
    // font-weight: bold;
    // padding-top: 1rem;
    padding-bottom: 1rem;
}

.example h2,
.example h3,
.example h4 {
    background: var(--minima-text-color);
    color: var(--minima-background-color);
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    font-size: 18px;
}

.qed {
    text-align: right;
}

.list-headless {
    margin-left: 0;
    list-style-type: none;
}

// Note list customization

.calc-notes-list-p {
    counter-reset: pSection;
    list-style: none;
}

.calc-notes-list-p>li {
    counter-increment: pSection;
}

.calc-notes-list-p>li::marker {
    content: "P." counter(pSection) " ";
}

.notes-init {
    counter-reset: chapter;
}

.notes-list {
    counter-reset: section;
    counter-increment: chapter;
    list-style: none;
}

.notes-list>li {
    counter-increment: section;
}

.notes-list>li::marker {
    content: counter(chapter) "." counter(section) " ";
}

.reset-7 {
    counter-set: section 7;
}

.reset-2 {
    counter-set: section 2;
}

// Fontawesome stuff

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

// Marker for This Week link on home page

.this-week-link {
    list-style: none;
}

.this-week-link li::marker {
    font: var(--fa-font-solid);
    content: '\f133   ';
}

// Marker for This Week link on home page

.icon-list {
    list-style: none;
}

.icon-list li.calendar::marker {
    font: var(--fa-font-solid);
    content: '\f133   ';
}

.icon-list li.home::marker {
    font: var(--fa-font-solid);
    content: '\f015   ';
}

.icon-list li.pen-square::marker {
    font: var(--fa-font-solid);
    content: '\f044   ';
}

.icon-list li.document::marker {
    font: var(--fa-font-solid);
    content: '\f15b   ';
}

.apcsa-vocab {
    font-weight: bolder;
    color: #007d9f;
}

.this-week-table .day {
    display: inline-block;
    width: 1.2rem;
}

table.rouge-table,
table.rouge-table td,
table.rouge-table pre {
    border: none;
}

table.rouge-table,
table.rouge-table * {
    margin: 0;
    padding: 0;
}

table.rouge-table .rouge-gutter {
    width: 0;
    padding-right: 1em;
    border-right: 1px solid var(--minima-border-color-02);
    text-align: right;
}

table.rouge-table .rouge-code {
    padding-left: 1em;
}

.header-tt,
.tt-head {
    font-style: normal;
    font-weight: inherit;
    font-family: monospace;
}

.table-head-link {
    margin-left: 0.5rem;
}

.table-head-link::before {
    content: "- ";
}

img.icon {
    width: 1.5rem;
}

/////////////////////////////////
// for PD pages

.grade-sync-icons {
    @include blockquote-suppress;

    p {
        text-align: center;
    }

    img {
        width: 1.5rem;
    }

    img:first-child {
        padding-right: 1.5em;
    }
}

.grade-sync-warnings {
    @include blockquote-suppress;
    background-color: #c00000;
    color: white;
    font-weight: bold;
    padding: 1rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

/////////////////////////////////

.headless-table thead {
    display: none;
}

.right-aligned-table {
    text-align: right;
}

// minima block table override

@media screen and (max-width: 800px) {
    table#office-hours {
        display: table;
        // overflow-x:;
        // -webkit-overflow-scrolling: initial;
        // -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

.blockquote-to-flex {
    @include blockquote-suppress;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

///// dark toggle

.site-header .nav-items {
    display: inline-block;
}

#color-toggle {
    margin-left: 1rem;
}