@mixin blockquote-suppress {
    background: none;
    border: none;
    padding-left: 0;
    font-style: normal;
    color: var(--minima-text-color);
}

body {
    color: var(--minima-text-color);
}

ul {
    margin-left: 50px;
}

.red {
    color: red;
}

.ka-familiar {
    color: #d77d0f;
}

.small {
    font-size: small;
}

.ap-problems {
    /*display: inline-block;*/
    padding-left: 0.5rem;
    margin-left: 0.25rem;
    border-left: 1px solid var(--minima-text-color);
    color: var(--minima-text-color);
    opacity: 0.6;
}

.teal-box {
    border: solid 3px #01aaaf;
    border-radius: 10px;
    padding: 0.05rem 0.2rem;
}

blockquote {
    letter-spacing: inherit;
    font-size: inherit;
    // font-style: inherit;
    color: var(--minima-text-color);
    background-color: var(--minima-background-color);
    border-left-color: var(--minima-border-color-02);
}

h1 code,
h2.code,
h3.code,
h1 code.highlighter-rouge,
h2 code.highlighter-rouge,
h3 code.highlighter-rouge {
    font-size: unset;
    border: unset;
    background-color: unset;
}

.footnotes {
    border-top: 1px solid var(--minima-border-color-01);
    margin-top: 5rem;
    padding-top: 1rem;
}

hr {
    border: 1px solid var(--minima-border-color-01);
    margin-bottom: 1rem;
}

.bell-schedules-table td:nth-child(2n+1),
.bell-schedules-table th:nth-child(2n+1) {
    border-right-width: 5px;
}

blockquote.definition {
    border: none;
    background-color: var(--definition-background-color);
    font-style: normal;
    padding: 1rem;
    color: var(--definition-text-color);
}

blockquote.definition h3,
blockquote.definition h4,
blockquote.definition h5 {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid var(--definition-border-color);
    margin-top: 0;
    color: var(--definition-text-color);

}

h2#assignment,
h2#additional-resources,
h2#chapter-objectives,
h2#objectives,
h2#extra-practice {
    font-size: 20px;
    font-weight: normal;
}

.site-title a,
.site-title a:visited {
    color: var(--minima-text-color);
}

.figure {
    border: none;
    background: none;
    padding: 0;
    font-size: small;
    font-style: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.figure p:nth-child(2) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.figure img,
.figure video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

.figure table {
    margin-left: auto;
    margin-right: auto;
}

.figure video {
    margin-bottom: 15px;
}

.example {
    border: none;
    background: none;
    padding: 0;
    border-bottom: 1px solid var(--minima-border-color-01);
    // padding: 0;
    // font-size: small;
    font-style: normal;
    // font-weight: bold;
    // padding-top: 1rem;
    padding-bottom: 1rem;
}

.example h2,
.example h3,
.example h4 {
    background: var(--example-heading-color);
    color: var(--minima-background-color);
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    font-size: 18px;
}

.qed {
    color: var(--example-heading-color);
    text-align: right;
}

.list-headless {
    margin-left: 0;
    list-style-type: none;
}

// Note list customization

.calc-notes-list-p {
    counter-reset: pSection;
    list-style: none;
}

.calc-notes-list-p>li {
    counter-increment: pSection;
}

.calc-notes-list-p>li::marker {
    content: "P." counter(pSection) " ";
}

.notes-init {
    counter-reset: chapter;
}

.notes-list {
    counter-reset: section;
    counter-increment: chapter;
    list-style: none;
}

.notes-list>li {
    counter-increment: section;
}

.notes-list>li::marker {
    content: counter(chapter) "." counter(section) " ";
}

.reset-7 {
    counter-set: section 7;
}

.reset-3 {
    counter-set: section 3;
}

.reset-2 {
    counter-set: section 2;
}

// Fontawesome stuff

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

// Marker for This Week link on home page

.this-week-link {
    list-style: none;
}

.this-week-link li::marker {
    font: var(--fa-font-solid);
    content: '\f133   ';
}

// Marker for This Week link on home page

.icon-list {
    list-style: none;
}

.icon-list li.calendar::marker {
    font: var(--fa-font-solid);
    content: '\f133   ';
}

.icon-list li.home::marker {
    font: var(--fa-font-solid);
    content: '\f015   ';
}

.icon-list li.pen-square::marker {
    font: var(--fa-font-solid);
    content: '\f044   ';
}

.icon-list li.document::marker {
    font: var(--fa-font-solid);
    content: '\f15b   ';
}

.apcsa-vocab {
    font-weight: bolder;
    color: #007d9f;
}

#this-week-table .day {
    display: inline-block;
    width: 1.2rem;
}

table.rouge-table,
table.rouge-table td,
table.rouge-table pre {
    border: none;
}

table.rouge-table,
table.rouge-table * {
    margin: 0;
    padding: 0;
}

table.rouge-table .rouge-gutter {
    width: 0;
    padding-right: 1em;
    border-right: 1px solid var(--minima-border-color-02);
    text-align: right;
}

table.rouge-table .rouge-code {
    padding-left: 1em;
}

.header-tt,
.tt-head {
    font-style: normal;
    font-weight: inherit;
    font-family: monospace;
}

img.icon {
    width: 1.5rem;
}

/////////////////////////////////
// for PD pages

.grade-sync-icons {
    @include blockquote-suppress;

    p {
        text-align: center;
    }

    img {
        width: 1.5rem;
    }

    img:first-child {
        padding-right: 1.5em;
    }
}

.grade-sync-warnings {
    @include blockquote-suppress;
    background-color: #c00000;
    color: white;
    font-weight: bold;
    padding: 1rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

/////////////////////////////////

.headless-table thead {
    display: none;
}

.right-aligned-table {
    text-align: right;
}

// minima block table override

@media screen and (max-width: 800px) {

    #schedule-table,
    #this-week-table {
        display: table;
        // overflow-x:;
        // -webkit-overflow-scrolling: initial;
        // -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

.blockquote-to-flex {
    @include blockquote-suppress;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

///// dark toggle

.site-header .nav-items {
    display: inline-block;
}

#color-toggle:hover {
    color: color-mix(in srgb, var(--minima-text-color) 70%, var(--minima-background-color) 30%);
}

footer .last-reviewed {
    font-size: small;
    font-style: italic;
    color: color-mix(in srgb, var(--minima-text-color) 70%, var(--minima-background-color) 30%);
}

// prev-next navigation

.post-header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding-bottom: 8px;
}

.post-header-nav .post-nav {
    width: 25px;
    flex: 0 0 25px;
    margin-bottom: 10px;
    font-size: 2.625rem;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.15;
}

.post-header-nav .post-nav a {
    color: var(--minima-text-color);
}

.post-header-nav .post-nav a:hover {
    text-decoration: none;
}

.post-header-nav .post-nav.hidden {
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    .post-header-nav .post-nav {
        display: none;
    }
}

// end prev-next navigation

// This week icons and links

#this-week-table .fa-solid {
    padding-right: 0.5em;
    color: var(--minima-text-color);
}

#this-week-table a strong {
    color: var(--minima-text-color);
}

#this-week-table .fa-solid:hover {
    color: var(--minima-link-hover-color);
}

// course cards

#course-cards,
.course-card {
    @include blockquote-suppress;
}

#course-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    // align-content: space-between;
    // justify-content: space-between;
    align-items: flex-start;
}

.course-card {
    flex: 1 0 45%;
    // border: 1px solid var(--minima-text-color) ;
    padding: 1rem;
    background-color: var(--minima-border-color-01);
    border-radius: 1rem;
}

.course-card h3 {
    margin-top: 0;
}

blockquote em {
    font-style: italic;
}

table.min-width {
    width: initial;
}