---
layout: base
---
<article class="post">

  {% if page.prev-link or page.next-link %}
  <header class="post-header post-header-nav">
    <div class="post-nav post-prev {% if page.prev-link == null %}hidden{% endif %}">
      <a href="{{ page.prev-link }}">
        🞀
      </a>
    </div>
    <h1 class="post-title">{{ page.title | escape | markdownify }}</h1>
    <div class="post-nav post-next {% if page.next-link == null %}hidden{% endif %}">
      <a href="{{ page.next-link }}">
        🞂
      </a>
    </div>
  </header>

  {% else %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape | markdownify }}</h1>
  </header>

  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

</article>