---
layout: base
---
<article class="post">

  <header class="post-header">
    {% if page.prev %}
    <h2 class="post-nav post-prev">
      <a href="{{ page.prev-link }}">
        <span>&larr;</span> {{ page.prev }}
      </a>
    </h2>
    {% endif %}
    <h1 class="post-title">{{ page.title | escape | markdownify }}</h1>
    {% if page.next %}
    <h2 class="post-nav post-next">
      <a href="{{ page.next-link }}">
        {{ page.next }} <span>&rarr;</span>
      </a>
    </h2>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>