<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <article class="post">
        <header class="post-header">
          <h1 class="post-title">{{ page.title | escape }}
            {% if site.minima.toggle %}
            <span id="color-toggle" onclick="changeSkin()"><i class="fa-solid fa-sun fa-2xs" style="vertical-align: .16rem"></i></span>
            {% endif %}

          </h1>
          <p><a href="./">Site home</a> | <a href="https://1drv.ms/o/c/c4097c61e06a2b97/EpojsyS4IFdOp0qZoDZdHikBZAinLWQ3ncbWjBZVKo0vtQ?e=5egVmL" target="_blank">Whiteboard notes</a></p>
        </header>

        <div class="post-content">
          {{ content }}
        </div>

      </article>
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>